.feed-item {
    border: 1px solid #eee;
    background-color: white;
    border-radius: 10px;
    margin: 0 0 1rem;
    flex: 1;
    padding: 1.6rem;
}

.feed-item:last-child {
    border-bottom: none;
}

