.profile-badge__type {
  display: inline-flex;
  align-items: center;
  padding: calc(var(--spacing-sm)) calc(var(--spacing-sm));
  border-radius: var(--border-radius-full);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  text-transform: capitalize;
  height: 1.5rem;
}

.profile-badge__type--leader {
  background-color: var(--warning-background);
  color: var(--warning-color);
}

.profile-badge__type--copier {
  background-color: var(--info-background);
  color: var(--info-color);
}
