.top-strategies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

@media (max-width: 480px) {
  .top-strategies {
    gap: 1rem;
    padding: unset;
  }
}

.strategies-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 2rem;
  max-width: 1400px;
  padding: 0 2rem;
}

@media (max-width: 480px) {
  .strategies-grid {
    gap: 1rem;
    padding: 0 1rem;
  }
}
