.leaders-section__tabs {
  display: flex;
  gap: 0.5rem;
  margin: 10px 0;
}

.leaders-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 1rem;
}

@media (max-width: 480px) {
  .leaders-section {
    gap: 1.5rem;
    padding: 0 0.5rem;
  }
}
