/* Reports Component Styles */

/* Container for the reports page */
.reports-container {
  display: flex;
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Header styles for the reports page */
.reports-sidebar {
  min-width: 250px;
  flex-shrink: 0;
}

/* Content styles for the reports page */
.reports-content {
  flex-grow: 1;
  margin-left: 24px;
}

@media (max-width: 1280px) {
  .reports-container {
    display: block;
  }

  .reports-sidebar {
    margin-bottom: 24px;
    flex-shrink: unset;
  }

  .reports-content {
    margin-left: 0;
  }
}
