.top-leaders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}

@media (max-width: 480px) {
  .top-leaders {
    gap: 1rem;
    padding: 0 1rem;
  }
}
