.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.overlay.entering {
  animation: fadeIn 0.2s ease-out;
}

.overlay.exiting {
  animation: fadeOut 0.2s ease-in;
}

.overlay__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.overlay__header > svg {
  stroke: var(--text-primary);
}

.overlay__header-content {
  margin-right: auto;
}

.overlay__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay__close {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s;
  z-index: 1;
  background: none !important;
  padding: 0;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@media (hover: hover) {
  .overlay__close:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}
