.contract-card-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: left;
  align-items: center;
}

@media (max-width: 1280px) {
  .contract-card-container {
    justify-content: center;
  }
}
