.user-card {
  background: white;
  border-radius: 16px;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  position: relative;
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  border: 1px solid #eee;
}

.user-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.user-card__header{
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 5px;
}

.user-card__rank {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: x-large;
  font-weight: bold;
}

.user-card__rank > svg {
  width: 12px;
  height: 12px;
}

.user-card__avatar-container {
  width: 100px;
  height: 100px;
  margin-top: 1rem;
}

.user-card__avatar-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  background: #f5f5f5;
}

.user-card__avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.user-card__avatar-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  color: #666;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50%;
}

.user-card__name {
  font-weight: 600;
  color: #111827;
}

.user-card__stats {
  display: flex;
  flex-direction: column;
}

.user-card__stat {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-card__stat-value {
  font-weight: 600;
  color: #111827;
}

.user-card__stat-label {
  color: #9CA3AF;
}

.user-card__cta {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.user-card__follow-button {
  font-size: 14px;
  width: 100px;
}


@media (max-width: 768px) {
  .user-card {
    width: 100%;
    height: 300px;
  }

  .user-card__avatar-container {
    width: 100px;
    height: 100px;
  }

  .user-card__cta {
    justify-content: space-around;
  }
}
