.global-ai-overlay {
  padding: 20px;
}

.global-ai-overlay__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 700;
  font-size: larger;
  color: #fff;
  border-radius: 50px;
}

.global-ai-overlay__container {
  width: 100%;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 720px;
  position: relative;
}
