.suggestions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.suggestions__chip {
  font-size: var(--font-size-sm) !important;
  color: var(--text-primary);
  background: var(--background-primary);
  border-color: var(--background-primary);
}

.suggestions__chip:hover {
  color: var(--text-inverted);
  background: var(--background-inverted);
  border-color: var(--text-primary);
}
